@use "styles/base";
@use "styles/variables" as *;

html,
body,
main {
  height: 100%;
}

main {
  --p: 2.5vmin;
  display: flex;
  flex-direction: column;
  padding: var(--p);
  gap: var(--p);
  align-items: flex-start;
  justify-content: flex-start;
}

section {
  max-width: 600px;
  width: 100%;
  padding: var(--p);
}

.calendar {
  font-size: 3vh;
  padding: 0;
  max-width: fit-content;
  height: fit-content;
  background-color: white;
  display: grid;
  grid-template-areas: "controls" "layers";
  gap: 1rem;

  --w: 1;
  --h: 1;

  .controls {
    grid-area: controls;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .layers {
    grid-area: layers;
    position: relative;
  }

  .layer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    padding: 0;
    display: grid;
    width: fit-content;
    --width: calc((100vw - var(--p)*3) / var(--w));
    --height: calc((100vh - var(--p)*3 - 50px) / var(--h));
    grid-template-columns: repeat(var(--w), var(--width));
    grid-template-rows: repeat(var(--h), var(--height));
    gap: 0;
    border: 0;

    &.selection {
      z-index: 5;
      opacity: 0.5;

      .selected {
        background-color: blue;
      }
    }

    &.base {
      position: relative;
      z-index: 10;
    }

    .cell {
      border: 0;
      padding: 0;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      > ul {
        padding: 0;
        margin: 0.25rem 0;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        > li {
          list-style: none;
          text-transform: none;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
          background-color: $pink;
          padding: 0.1rem 1rem;
        }
      }
    }

    .day {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 0.8rem;
      padding: 0.2rem;
    }

    .in-range {

    }

    .out-of-range {
      background-color: #eee;
      opacity: 0.5;
    }

    .header {
      font-weight: 800;
      justify-content: center;
      align-items: center;
    }

    .header[data-x="0"] {
      border-left: 1px dashed black;
      border-bottom: 1px dashed black;
    }

    .header[data-y="0"] {
      border-right: 1px dashed black;
      border-top: 1px dashed black;
    }

    .header[data-y="0"][data-x="0"] {
      border-top: 0;
      border-left: 0;
    }
  }
}

.test-grid {
  display: grid;
  padding: 0;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  gap: 0px;
  --w: 1;
  --h: 1;

  &> button {
    padding: 0;
  }

  .grid-cell {
    grid-row: var(--y) / span var(--h);
    grid-column: var(--x) / span var(--w);
  }
}